.filter--container{
    width: 100%;
    box-sizing: border-box;
    margin: 20px 5px 20px 20px;
}

.filter--text-head{
    display: block;
    font-size: 25px;
    margin: 7px 5px 7px 10px;
}
.filter--text{

    margin: 10px 5px 5px 5px;
    width: 100%;
    font-size: 20px;
    display: block;

}
.filter--text select{

    height: 30px;
    margin: 3px 5px;
    border-radius: 13px;
    cursor: pointer;
    width: 50%;
    background-color: #EECC88;
    border: 2px solid #B89D69;
    box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.5);
}
.filter--text-input{

    margin: 10px 5px 5px 5px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: block;
}
.filter--text-input input{
    width: 20px;
    height: 20px;
    margin: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #EECC88;
    border: 2px solid #B89D69;
    box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.5);
}
