.monster-constructor--container{
    display: block;
    width: 85%;
    margin: auto;
    padding: 10px;
    font-family: Risque, serif;
    font-style: normal;
    font-weight: normal;
    background:  linear-gradient(to right, #DDC493, #EECC88);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.5);
}
.monster-constructor--boxes{
    height: 125vh;
    display: flex;

    /*align-items: stretch;*/
    flex-wrap: wrap;
    /*overflow: auto;*/
    position: relative;
}


.monster-constructor--box-1{
    margin: 7px;
    height: 100%;
    flex-basis: 60%;
    border-right: 0;
    box-sizing: border-box;
}

.monster-constructor--contest{
    height: auto;
    display: flex;
    margin: 7px;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    box-sizing: border-box;
}

.monster-constructor--box-2{
    height:90%;
    padding: 5px 10px;
    flex-basis: 35%;
    box-sizing: border-box;
    border-left: 2px solid rgba(65,55,68,0.74);
    margin: 7px;

}

.monster-constructor--box-2-scroll {
    display: block;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.5);
}


.monster-constructor h1{
    font-size: 45px;
}
.monster-constructor--box-2 h3{
    font-size: 30px;
    margin: 20px;
}


@media (max-width: 1000px) {
    .monster-constructor--boxes{
        height: 200vh;
        display: flex;
        /*align-items: stretch;*/
        flex-wrap: wrap;
        /*overflow: auto;*/
        position: relative;
    }

    .monster-constructor--box-1{
        height: 60%;
        justify-content: space-around;
        display: flex;
        margin: 7px;
        flex-wrap: wrap;
        overflow: auto;
        flex-basis: 100%;
        border-bottom:  2px solid rgba(65,55,68,0.74);
        box-sizing: border-box;
    }
    .monster-constructor--box-2{
        height:30%;
        box-sizing: border-box;
        border-left: 0;
        margin: 7px auto;
    }
}