
.header--link{
    display: block;
    text-decoration: none;
    color: black;
}

.header--container{
    /*To avoid ugly coping*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    margin-left: -7%;
    display: block;
    background: #EECC88;
    padding-left: 10%;
    margin-top: 10px;
    width: 100%;

    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

.header--name{
    font-family: Risque, serif;
    font-style: normal;
    font-weight: normal;
    margin: auto;
    font-size: 40px;

}
.header--little-text{
    font-family: Ebrima , serif;
    font-style: normal;
    margin: auto;
    font-size: 20px;

}