body{
    background: url("img/dndSiteProject.png") no-repeat;
    background-size: 100%;
}
@media (max-width: 600px) {
    body{
        background: url("img/dndSiteProject.png");
        background-size: 200%;
    }
}